-
    const abouts = [
        {id: 1, icon: 'fa-solid fa-leaf', name: '100% Organic', desc: 'Lorem ipsum dolor sit amet, consectetur adi'},
        {id: 2, icon: 'fa-solid fa-flask', name: 'Safe', desc: 'Lorem ipsum dolor sit amet, consectetur adi'},
        {id: 3, icon: 'fa-solid fa-user-shield', name: 'Care', desc: 'Lorem ipsum dolor sit amet, consectetur adi'},
        {id: 4, icon: 'fa-solid fa-hand-holding-droplet', name: 'Easy', desc: 'Lorem ipsum dolor sit amet, consectetur adi'},
    ]

section.max-w-6xl.px-4.m-auto.py-16(class='lg:py-24')
    .container.mx-auto
        .items-center(class="md:grid md:grid-cols-12")
            .col-span-5
                img(src='/img/about.jpg' alt='about')
            .col-start-7.col-span-6
                h3.text-gray-800.text-3xl.font-medium.mb-5.mt-3(class="md:mt-0") Welcome To Our Shop
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    | veniam, quis nostrud exercitation.
                .grid.gap-6.mt-8(class="md:grid md:grid-cols-2")
                    each about in abouts
                        .flex.items-center
                            i.text-4xl.text-primary(class=`${about.icon}`)
                            .ml-3
                                h3.text-gray-800.font-medium.text-lg= about.name
                                p.text-gray-500= about.desc