section.bg-center.bg-cover.px-4.m-auto.py-14(style="background-image: url('/img/banner2.jpg');")
    .max-w-6xl.mx-auto
        .div
            span.text-primary BLACK FRIDAYS!
            h3.text-gray-800.mt-3.text-5xl.font-semibold.mb-3 SALE 50% OFF
            p.text-gray-700.mb-5 ALL VEGETABLE PRODUCTS
            +btn-primary('Discover now')