section.bg-cover.px-4.m-auto.py-32.rounded-md(style="background-image: url('img/hero.webp')")
    .max-w-6xl.mx-auto
        .grid.grid-cols-1.items-center.gap-3(class='lg:grid-cols-12 md:grid-cols-2')
            div(class="lg:col-span-5")
                .text-primary.mb-3 Feel better with CBDE
                h1.text-3xl.font-medium.mb-6(class='lg:text-4xl')
                    | The Best Quality Products Guaranteed!
                p.text-gray-600.text-lg.mb-8
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                +btn-primary('Show more')
            .hidden.mt-8(class='md:block lg:col-start-8 lg:col-span-4 md:mt-0')